* {
    scroll-behavior: smooth;
}

:root {
    /* COLORS */
    --black: hsl(0, 0%, 0%);
    --smokey-black: hsl(0, 0%, 7%);
    --white_a9: hsla(0, 0%, 100%, 0.09);
    --white_a15: hsla(0, 0%, 100%, 0.15);
    --white: hsl(0, 0%, 100%);
    --roxo: #8A2BE2;

    /* typography */
    --ff-recoleta: "Recoleta", serif;
    --ff-gordita: "Arial Narrow", Arial, sans-serif;

    --fs-1: 6rem;
    --fs-2: 5rem;
    --fs-3: 3.8rem;
    --fs-4: 2.8rem;
    --fs-5: 2.6rem;
    --fs-6: 2.2rem;
    --fs-7: 2rem;
    --fs-8: 1.8rem;
    --fs-9: 1.5rem;
    --fs-10: 1.4rem;
    --fs-11: 1.2rem;
    
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;

    /* spacing */
  --section-padding: 60px;

    /* SHADOW */
    --shadow: 0 12px 30px -10px hsla(0, 0%, 14%, 0.1);


    /* border radius */
    --radius-circle: 50%;
    --radius-5: 5px;
    --radius-25: 25px;

    /*  transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
    font-family: var(--ff-gordita);
    font-size: 15px;
    scroll-behavior: smooth;
}


body{
    background-color: var(--smokey-black);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: var(--fw-400);
    line-height: 2.15;
    overflow-x: hidden;
}

/*barra de rolagem*/
:focus-visible { outline-offset: 4px; }
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background-color: var(--white); }
::-webkit-scrollbar-thumb { background-color: var(--jet-2); }

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

header {
    padding: 15em 0 15em 0;
    background-image: url('../images/home-santti.jpg');
    background-size: cover;
    background-position: center 30%;
    color: var(--white);
    min-height: 130vh;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/
.navbar div{
    --ease-out-transition: 0.25s ease-out;
    --ease-in-transition: 0.75s 0.1s cubic-bezier(0.25, 1, 0.75, 1);
    width: 28rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
    margin-left: 10vw;
    white-space: nowrap;
  }

  .navbar button{
    position: relative;
    padding: 0px;
    font-size: var(--fs-11);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: var(--white);
  }

  .navbar button > span{
    opacity: 1;
    transition: var(--ease-in-transition);
  }

  .navbar button::after{
    position: absolute;
    content: attr(data-text);
    top: 0px;
    left: 0px;
    transform: translateY(35%);
    opacity: 0;
    transition: var(--ease-out-transition);
  }

  .navbar button:hover{
    border-bottom: 1px solid #4F4F4F;
  }

  .navbar button:hover > span{
    transform: translateY(35%);
    opacity: 0;
    transition: var(--ease-out-transition);
  }

  .navbar button:hover::after{
    transform: translateY(0%);
    opacity: 1;
    transition: var(--ease-in-transition);
  }

.sidebar{
    background-color: aqua;
    padding: 3em 0 3em 0;
}

main {
    background-color: blueviolet;
    padding: 3em 0 3em 0;
}

footer {
    background-color: blueviolet;
    padding: 1em 0 1em 0;
}


@media screen and (max-width: 768px) {
    header {
        padding: 5em 0 5em 0;
        background-position: center;
    }
}