/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  background-image: url('../images/home-santti.jpg');
}

.navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  --ease-out-transition: 0.25s ease-out;
  --ease-in-transition: 0.75s 0.1s cubic-bezier(0.25, 1, 0.75, 1);
  align-items: center;
}

.navbar ul button {
  position: relative;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.navbar ul button > span{
  opacity: 1;
  transition: var(--ease-in-transition);
}

.navbar ul button::after{
  position: absolute;
  content: attr(data-text);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 15px;
  transform: translateY(35%);
  opacity: 0;
  transition: var(--ease-out-transition);
}

.navbar ul button:hover {
  border-bottom: 1px solid #4F4F4F;
}

.navbar ul button:hover > span{
  transform: translateY(35%);
  opacity: 0;
  transition: var(--ease-out-transition);
}

.navbar ul button:hover::after{
  transform: translateY(0%);
  opacity: 1;
  transition: var(--ease-in-transition);
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 15px;
  }

  main {
    padding: 10px;
  }

  footer {
    padding: 15px;
  }
}
