/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/**
   * CENTURY GOTHIC
   */

   @font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}